<div class="component-border">
  <div class="center-container">
    <!-- <div *ngIf="receiptsList.length > 0; else noReceipts"> -->
    <div>
      <h2 class="h2">Receipts</h2>
      <br>
      <div class="row mt-3">
        <div  class="select-container">
          <!-- filter select fields  -->
          <select class="form-control " (change)="onSelectChange()" [(ngModel)]="selectePeriodId">
            <option value="">Periods</option>
            <option *ngFor="let period of periodsList" [value]="period.periodId">{{ period.period }}</option>
          </select>
          <select class="form-control merchant-select" (change)="onSelectChange()" [(ngModel)]="merchantName">
            <option value="">Merchants</option>
            <option *ngFor="let merchant of merchantsList" [value]="merchant.merchantName">{{ merchant.merchantName }}
            </option>
          </select>
          <select class="form-control" (change)="onSelectChange()" [(ngModel)]="currencyCode">
            <option value="">Currencies</option>
            <option *ngFor="let currencyCode of currenciesList" [value]="currencyCode.currencyCode">{{
              currencyCode.currencyCode }}</option>
          </select>
          <select class="form-control" (change)="onSelectChange()" [(ngModel)]="selectedLabelId">
            <option value="">Labels</option>
            <ng-container *ngFor="let label of labelsList">
              <option *ngIf="label.inUse" [value]="label.labelId" [ngStyle]="{'background-color': label.labelColor}">{{
                label.labelName }}</option>
            </ng-container>
          </select>
        </div>
        <br>
        <!-- receipts list table -->
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th><span class="material-icons">
                  keyboard_arrow_down
                </span></th>
              <th><i class="material-icons rotate-icon">attachment</i></th>
              <th>Date</th>
              <th>Merchant</th>
              <th>Amount</th>
              <th>Currency</th>
              <th>Label</th>
              <!-- ... other headers -->
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="receiptsList && receiptsList.length > 0; else noReceipts">
              <tr *ngFor="let receipt of receiptsList" class="table-light">
                <td>
                </td>
                <td>
                  <ng-container *ngIf="receipt.hasAttachment">
                    <!-- <a [href]="receipt.preSignedUrl" target="_blank"> -->
                    <i class="material-icons rotate-icon">attachment</i>
                    <!-- </a> -->
                  </ng-container>
                </td>
                <td>{{ receipt.invoiceDate }}</td>
                <td>{{ receipt.merchantName }}</td>
                <td>{{ receipt.total }}</td>
                <td>{{ receipt.currency }}</td>
                <td>{{ receipt.labelName }}</td>
                <!-- ... other data cells -->
              </tr>
            </ng-container>
            <ng-template #noReceipts>
              <tr>
                <td colspan="7">No receipts available.</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>

  </div>