<div class="component-border">
  <div class="center-container">
    <div *ngIf="receipts.length > 0; else noReceipts">
      <h2>Receipts</h2>
      <p>Receipts page works!</p>
      <select class="form-select" aria-label="Default select example">
        <option selected="">Period</option>
        <option value="1">ABD</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

      <select class="form-select" aria-label="Period select ">
        <option selected="">Period</option>
        <option value="1">7 Days</option>
        <option value="2">30 Days</option>
        <option value="3">Date Range</option>
      </select>

      <select class="form-select" aria-label="Merchants select example">
        <option selected="">Merchants</option>
        <option value="1">Amazon</option>
        <option value="2">Costco</option>
        <option value="3">Warlmart</option>
      </select>

      <select class="form-select" aria-label="Currencies select example">
        <option selected="">Currencies</option>
        <option value="1">CAD</option>
        <option value="2">EUR</option>
        <option value="3">TRY</option>
        <option value="4">USD</option>
      </select>

      <select class="form-select" aria-label="Labels select example">
        <option selected="">Labels</option>
        <option value="1">Business</option>
        <option value="2">Travel</option>
        <option value="3">Health</option>
        <option value="4">Personal</option>
      </select>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>DetailBtn</th>
            <th>attach</th>
            <th>Date</th>
            <th>Merchant</th>
            <th>Amount</th>
            <th>Label</th>
            <!-- ... other headers -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let receipt of receipts">
            <td>#</td>
            <td>##</td>
            <td>{{ receipt.invoiceDate }}</td>
            <td>{{ receipt.merchantName }}</td>
            <td>{{ receipt.total }}</td>
            <td>{{ receipt.labelName }}</td>
            <!-- ... other data cells -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noReceipts>
    <div>No receipts available.</div>
  </ng-template>
</div>