<div class="component-border">
  <div class="center-container">
<div *ngIf="receipts.length > 0; else noReceipts">
  <h2>Last 10 Expenses</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Merchant</th>
        <th>Amount</th>
        <th>Label</th>
        <!-- ... other headers -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let receipt of receipts">
        <td>{{ receipt.invoiceDate }}</td>
        <td>{{ receipt.merchantName }}</td>
        <td>{{ receipt.total }}</td>
        <td>{{ receipt.labelName }}</td>
        <!-- ... other data cells -->
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noReceipts>
  <div>No receipts available.</div>
</ng-template>
</div>
</div>