ion-card {
    --background: white;
    --color: black;
}

ion-card-title {
    --color: darkgrey;
    --fontsize: small;
}

.amountType {
    font-size: xx-small;
}

.amount {
    font-size: x-large;
}